@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --deepblue-500: #023047;
    --amber-500: #fd8500;
    --alabaster-500: #e0e1dd;
  }
  body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #e2e8f0;
  }
}

@layer utilities {
  .bg-deepblue { background-color: var(--deepblue-500); }
  .bg-amber { background-color: var(--amber-500); }
  .text-amber { color: var(--amber-500); }
  .text-alabaster { color: var(--alabaster-500); }

  .password-input::-ms-reveal,
  .password-input::-ms-clear {
    display: none;
  }
  
  .container-custom {
    padding: 20px;
    margin: auto;
    max-width: 1280px;
  }
}
